<div class="card"><!-- style="width: 18rem;" -->
    <div class="card-body">
        <h5 class="card-title">
            <span *ngIf="!isNewQuestion">Edit question</span>
            <span *ngIf="isNewQuestion">New question</span>
        </h5>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="question-text">Question</label>
                <input
                    [(ngModel)]="question.text"
                    name="question-text"
                    class="form-control"
                    id="question-text"
                    placeholder="Enter a question">
            </div>
            <div class="form-group col-md-6">
                <label for="question-correctAnswer">Correct answer</label>
                <input
                    [(ngModel)]="question.correctAnswer"
                    name="question-correctAnswer"
                    class="form-control"
                    id="question-correctAnswer"
                    placeholder="Enter a correct answer">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="question-answer1">Answer 1</label>
                <input
                    [(ngModel)]="question.answer1"
                    name="question-answer1"
                    class="form-control"
                    id="question-answer1"
                    placeholder="Wrong answer 1">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="question-answer2">Answer 2</label>
                <input
                    [(ngModel)]="question.answer2"
                    name="question-answer2"
                    class="form-control"
                    id="question-answer2"
                    placeholder="Wrong answer 2">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="question-answer3">Answer 3</label>
                <input
                    [(ngModel)]="question.answer3"
                    name="question-answer3"
                    class="form-control"
                    id="question-answer3"
                    placeholder="Wrong answer 3">
            </div>
        </div>

        <button *ngIf="isNewQuestion" class="btn btn-primary" (click)="saveQuestion(question)">Save</button>

        <div *ngIf="!isNewQuestion">
            <button class="btn btn-primary update-button" (click)="updateQuestion(question)">Update</button>
            <button class="btn btn-secondary" (click)="resetToNew()">New</button>
        </div>

    </div>
</div>
<app-questions *ngIf="!isQuestionListEmpty"></app-questions>
