<div class="card"><!-- style="width: 18rem;" -->
    <div class="card-body">
        <h5 class="card-title">Question section</h5>
        <label for="question">Question</label>
        <!-- #questionText -->
        <input
            [(ngModel)]="question.text"
            name="question"
            class="form-control"
            id="question"
            aria-describedby="questionHelp"
            placeholder="Enter question">
        <small id="questionHelp" class="form-text text-muted">Please enter your question here.</small>
        <button class="btn btn-primary" (click)="saveQuestion(question)">Save</button>
    </div>
</div>
