{{question.text}}

<div class="custom-control custom-radio">
    <input
        type="radio"
        id="{{'customRadio_' + question.id + '0' }}"
        name="{{ 'customRadioName_' + question.id }}"
        class="custom-control-input">
    <label
        class="custom-control-label"
        for="{{'customRadio_' + question.id + '0' }}">
        {{ answers[0] }}
    </label>
</div>
<div class="custom-control custom-radio">
    <input
        type="radio"
        id="{{'customRadio_' + question.id + '1' }}"
        name="{{ 'customRadioName_' + question.id }}"
        class="custom-control-input">
    <label
        class="custom-control-label"
        for="{{'customRadio_' + question.id + '1' }}">
        {{ answers[1] }}
    </label>
</div>
<div class="custom-control custom-radio">
    <input
        type="radio"
        id="{{'customRadio_' + question.id + '2' }}"
        name="{{ 'customRadioName_' + question.id }}"
        class="custom-control-input">
    <label
        class="custom-control-label"
        for="{{'customRadio_' + question.id + '2' }}">
        {{ answers[2] }}
    </label>
</div>
<div class="custom-control custom-radio">
    <input
        type="radio"
        id="{{'customRadio_' + question.id + '3' }}"
        name="{{ 'customRadioName_' + question.id }}"
        class="custom-control-input">
    <label
        class="custom-control-label"
        for="{{'customRadio_' + question.id + '3' }}">
        {{ answers[3] }}
    </label>
</div>
