<div class="row card-first" *ngIf="(getCorrectAnswerCount() | async) > 0">
    <div class="col-md-3 offset-md-9">
        <div class="text-right font-weight-bold">{{ (getCorrectAnswerCount() | async) }}
            correct answer(s) out of
            {{ store.quizQuestions.length }}
        </div>
    </div>
</div>

<div *ngFor="let question of store.quizQuestions; let isFirst = first">
    <div [ngClass]="isFirst ? 'card-first' : ''">
        <app-play-quiz-question-details [question]=question [store]=store>
        </app-play-quiz-question-details>
    </div>
</div>

<app-play-finished
    [title]="'Some title'"
    [showClose]="true"
    (onClose)="close()" #editModal>
        {{ bindModal(editModal) }}
        Some content
</app-play-finished>

<button [disabled]="!isAllAnswered()"
    class="btn btn-primary"
    (click) = "validate()">Validate</button>

